<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <!-- <link rel="stylesheet" href="{{ url_for('static',     filename='css/styles.css') }}"> -->
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    </head>
    <body>
      <nav class="navbar navbar-expand-md navbar-expand-sm navbar navbar-dark bg-dark">
          <div class="container-fluid">
              <a class="navbar-brand font-customised" href="/index">Home</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse navbar-formatting" id="navbarSupportedContent">
              <ul class="nav navbar-nav ms-auto">
                  <li class="nav-item">
                      <a class="nav-link active" href="/analysis">Analysis</a>
                  </li>
                  <li class="nav-item">
                  <a class="nav-link active" href="/predictions">Predictions</a>
                  </li>
                  <li class="nav-item">
                  <a class="nav-link active" href="/about">About</a>
                  </li>
              </ul>
              </div>
          </div>
      </nav> 
      <div class="container">
        <div class="row text-center"><h1>Human Development Indices</h1></div>
          <div class="col-12"><img src="../static/images/output.png" alt="GDI explanation" width="100%" height="100%"></div>
        </div>
        
      </div>
      <!-- boostrap javascript -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
      <!-- d3 javascript -->
      <script src="https://d3js.org/d3.v7.min.js"></script>
      <!-- custom javascript -->
      <script src="../static/js/forecast.js"></script>
    </body>
</html>

  

  

