{% extends "template.html" %}
{% block title %} Home {% endblock %}
{% block head %}
  {{ super() }}
  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
{% endblock %}


    
  {% block content %}

    <main class="px-3">
      <h1>Cover your page.</h1>
      <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
      <p class="lead">
        <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Learn more</a>
      </p>
    </main>
  

  {% endblock %}

  <!-- Jon's code -->
  <h2>Country</h2>
  <select id="country">
      <option value="Australia">Australia</option>
      <option value="Afghanistan">Afghanistan</option>
  </select>

  <h2>Num of periods</h2>
  <input type="text" id="num_periods">

  <button id="submit">Submit</button>

  <ul id="output"></ul>

  

